/*
Seed - a very tiny nicely framework
URI: http://seed.sergiom23.com
Version: 0.1.3s
Description: Seed, it's a very tiny nicely framework for your startup, website or for your own proposites, based on Bootstrap.
Author: @Sergiom23
Author URI: http://sergiom23.com/


####
Palette
Color Pallete inspired by: http://www.colourlovers.com/palette/3290258/Seaside_Sunrise
Secondary color Blue: #3A75B2 ;

The MIT License (MIT)

Copyright © 2014 Sergio Molina

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);

/* Body styles*/

body, html {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color:#555555;
}

strong {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
}

i {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

h1, {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
}

h2, {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
h3, {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}
h4,h5,h6, {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-variant: italic;
}

a {
  color: #31B58B;
  cursor:pointer;
  border-bottom: 2px solid #DBDBDB;
  text-decoration: none;
  -o-transition:.8s;
  -ms-transition:.8s;
  -moz-transition:.8s;
  -webkit-transition:.8s;
}
a:hover {
  color: #107654;
  border-bottom-color:#107654;
  background-color: transparent;
  text-decoration: none;
  -o-transition:.8s;
  -ms-transition:.8s;
  -moz-transition:.8s;
  -webkit-transition:.8s;
}


.lead {
  font-size: 18px;
  font-weight: 300;
}

.intro-header {
  padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
  padding-bottom: 0px;
  color: #ffffff!important;
  width: 100%:;
  height:100%;
  background: url(../img/bg0.jpg) no-repeat center center;
  background-size: cover;
  text-align: center;
  background-attachment: fixed;
  transition: background 0.5s linear;
}

.intro-message {
  position: relative;
  padding-top: 20%;
  padding-bottom: 20%;
  font-weight: 300;
  
}

.intro-message > h1 {
  margin: 0;
  font-size: 5em;
  color:white;
  text-transform: uppercase;
  font-weight: 600;

}

.intro-divider {
  width: 400px;
  border-top: 1px solid #f8f8f8;
}

.intro-message > h3 {
  color:white;
  font-weight: 400;
}

@media (max-width: 767px) {
  .intro-message {
    padding-bottom: 15%;
  }

  .intro-message > h1 {
    font-size: 3em;

  }

  ul.intro-social-buttons > li {
    display: block;
    margin-bottom: 20px;
    text-shadow:none;
    padding: 0;
  }

  ul.intro-social-buttons > li:last-child {
    margin-bottom: 0;
  }

  .intro-divider {
    width: 100%;
  }
}

.network-name {
  font-size: 14px;
  font-weight: 300;
}

.scroll-link {
  display:inline-block;
  cursor:pointer;
  border-bottom: 10px;
  text-align:center;
  color: white;
  position:relative;
}

.scroll-link a {
  border-bottom:none;
}

.scroll-link a:hover {
  border-bottom-color:none;
}
.content-section-a {
  background-color: #31B58A;
  color: white;
  padding: 50px 0;
}

.content-section-a h2 {
  color: white;
}

.content-section-a  a {
  color: #107654;
  border-bottom: 2px solid #107654;
}
.content-section-a  a:hover {
  color: #e7e7e7;
  border-bottom-color:#e7e7e7;
}

.content-section-b {
  border-top: 1px solid #83DABD;
  border-bottom: 1px solid #FFDC8A;
  padding: 50px 0;
  position: relative;
  background-color: white;
  background-attachment: fixed;
}

.content-section-c {
  background-color: #FFDC8A;
  padding: 50px 0;
}

.content-section-c  a {
  color: #FFBA19;
  border-bottom: 2px solid #FFB300;
}
.content-section-c  a:hover {
  color: #FFB300;
  border-bottom-color:#FFBA19;
}

.content-section-d {
  border-top: 1px solid #FFDC8A;
  border-bottom: 1px solid #FFDC8A;
  padding: 50px 0;
  position: relative;
  background-color: white;
  background-attachment: fixed;
}


.section-heading {
  margin-bottom: 30px;
}

.section-heading-spacer {
  border-top: 3px solid #e7e7e7;
  width: 200px;
  float: left;
}

.banner {
  padding: 100px 0;
  color: #ffffff;
  background: url(../img/banner-bg.jpg) no-repeat center center;
  background-size: cover;
  background-attachment:fixed;
}

.banner h2 {
  margin: 0;
  font-size: 3em;
}

.banner ul {
  margin-bottom: 0;
}

.banner-social-buttons {
  float: right;
  margin-top: 0;
}

@media (max-width: 1199px) {
  ul.banner-social-buttons {
    float: left;
    margin-top: 15px;
  } 
}

@media (max-width: 767px) {
  .banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 3em;
  }

  ul.banner-social-buttons > li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }

  ul.banner-social-buttons > li:last-child {
    margin-bottom: 0;
  } 
}

footer {
  background-color: #f8f8f8;
  padding: 50px 0;
}

p.copyright {
  margin: 15px 0 0;
}

/* Love */

span.love {
  color:#FC5151;
}


/* Button Styles*/

.btn-default {
  background-color: #1E070B;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4f5151', endColorstr='#ff3f4141', GradientType=0);
  filter: none;
  border: 1px solid #2E161A;
  -o-transition:.8s;
  -ms-transition:.8s;
  -moz-transition:.8s;
  -webkit-transition:.8s;
  color:white;

}
.btn-default:hover {
  background-color: #2E161A;
  border: 1px solid #1E070B;
  color:white;
}

.btn-default a:hover{
  border-bottom-color:none!important;
  border-bottom: none;
}

/** Social buttons **/
.btn-social {
  color:#ffffff!important;
}

.btn-social a {
  border-bottom:none;
}

.btn-social a {
  border-bottom-color:none;
}

.btn-social.twitter{
  background-color: #55acee;
}

.btn-social.twitter:hover{
  background-color: #1C649B;
}

.btn-social.github{
  background-color: #171515;
}

.btn-social.github:hover{
  background-color: #0C0509;
}

